.e-con-inner {
    align-content: initial;
    align-items: var(--align-items);
    align-self: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
}